.navbar-container {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid royalblue;
    background-color: royalblue;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar-logo {
    min-width: 55px;
    width: 60px;
    height: 44px;
    padding: 3px;
    margin: 0px 20px 0px 10px;
}

.navbar-logo-image {
    width: 100%;
    height: 100%;
}

.navbar-search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 40px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.navbar-search-input {
    color: gray;
    width: 100%;
    height: 40px;
    outline: hidden;
    border: 0px;
    font-size: 17px;
    padding: 15px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background-color: snow;
    font-weight: 100;
}

.navbar-search-input:focus {
    outline: none;
}

.navbar-search-input::placeholder {
    color: rgb(146, 146, 146);
}

.navbar-search-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: white;
    color: royalblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.navbar-search-btn:hover {
    color: white;
    background-color: royalblue;
}

.navbar-account-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 13px;
}

.navbar-account-btn {
    margin: 0px 12px;
    transform: scale(1.3);
}

.navbar-user-original-account {
    width: 40px;
    height: 40px;
    margin: 0px 12px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}

.mobile-search-bar {
    display: flex;
}

.mobile-search-bar-input {
    border: 0px;
    font-size: 15px;
    padding: 15px;
    outline: none;
}

.mobile-search-bar-input:focus {
    outline: none;
}

.mobile-search-bar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 550px) {
    .navbar-search-area {
        display: none;
    }
}

.login-area {
    padding: 15px;
    width: fit-content;
}

.login-area-text {
    font-weight: 500;
    text-transform: capitalize;
}

.login-area-btn {
    margin-left: 5px;
    background-color: royalblue;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
    border: 0px;
    border-radius: 3px;
}

.login-area-btn:hover {
    opacity: 90%;
}

.user-logged-options {
    padding: 12px;
}

.user-logged-option {
    padding: 8px 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.236);
    text-align: center;
    color: #333;
    font-weight: 500;
}

.user-logged-last-option {
    border-bottom: 0px;
}

.user-logged-option:hover {
    color: royalblue;
}

.logout-btn {
    background-color: royalblue;
    font-weight: 600;
    border-radius: 4px;
    color: white;
}

.logout-btn:hover {
    color: white;
    background-color: rgba(65, 105, 225, 0.85);
}

.user-logged-option-username {
    cursor:default;
    font-weight: 100;
}
.user-logged-option-username:hover{
    color: #333;
} 

.username {
    font-weight: 600;
    color: royalblue;
    font-style: italic;
}